body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  background: rgba(251, 251, 251, 1);
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
  transition: all 0.4s ease;
}
a:active {
  text-shadow: rgb(184, 184, 184) 1px 0 2px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.common-margin {
  /* !!! */
  margin: 0 7.5rem;
}

.remark {
  display: block;
  width: max-content;
  letter-spacing: 1px;
  line-height: 1.813rem;
}
.remark::after {
  display: block;
  content: "";
  margin-top: 0.5rem;
  height: 0.125rem;
  width: 100%;
}
.remark_underline-yellow::after {
  background: linear-gradient(
    45deg,
    rgba(255, 178, 30, 1),
    rgba(255, 255, 255, 0)
  );
}
.remark_underline-blue::after {
  background: linear-gradient(
    45deg,
    rgba(18, 84, 255, 1),
    rgba(255, 255, 255, 0)
  );
}
.remark_center {
  margin: 0 auto;
}
.remark_center.remark_underline-yellow::after {
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255, 0),
    rgba(255, 178, 30, 1),
    rgb(255, 255, 255, 0)
  );
}
.remark_center.remark_underline-blue::after {
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255, 0),
    rgba(18, 84, 255, 1),
    rgb(255, 255, 255, 0)
  );
}

.title {
  font-family: Questrial, sans-serif;
  margin: 1rem 0;
}

.text {
  opacity: 0.6;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.button {
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  border-radius: 8px;
  padding: 1rem 1.5rem;
}
.button:hover {
  color: rgba(255, 255, 255, 1);
}
.button svg {
  vertical-align: middle;
}
.button:hover svg {
  fill: #fff;
}
.button_yellow {
  border: 1px solid rgba(255, 178, 30, 0.5);
  color: rgba(255, 178, 30, 1);
}
.button_yellow:hover {
  background-color: rgba(255, 178, 30, 1);
  box-shadow: 0px 1px 5px 3px rgba(255, 178, 30, 0.5);
}
.button-svg_yellow {
  fill: rgba(255, 178, 30, 1);
}
.button_blue {
  border: 1px solid rgba(18, 84, 255, 0.5);
  color: rgba(18, 84, 255, 1);
}
.button_blue:hover {
  background-color: rgba(18, 84, 255, 1);
  box-shadow: 0px 1px 5px 3px rgba(18, 84, 255, 0.5);
}
.button-svg_blue {
  fill: rgba(18, 84, 255, 1);
}

/* HEADER */

.header {
  margin-top: 3rem;
  margin-bottom: 8.125rem;
}

.header__navbar {
  margin-bottom: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  margin-right: 1.56rem;
  font-family: "Questrial", sans-serif;
  font-size: 3rem;
  line-height: 3rem;
}

.navbar__line {
  flex-grow: 1;
  content: "";
  height: 0.031rem;
  background: rgba(0, 0, 0, 0.2);
}

.navbar__menu {
  display: flex;
  flex-wrap: wrap;
}

.navbar__menu-item {
  margin: 0 1.56rem;
}

.navbar__link {
  line-height: 1.625rem;
}

/* PROMO-BLOCK */

.promo-block {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.promo-block__text-container {
  flex-basis: 64%;
  margin-bottom: 20rem; /* !!! */
}

.promo-block__title {
  font-size: 3.5rem;
  line-height: 5rem;
}

.promo-block__button {
  padding: 1rem 4rem;
}

.promo-block__img-container {
  z-index: -1;
  position: relative;
}

.promo-block__img {
  border-top: 2px solid rgb(255, 0, 0);
  border-left: 2px solid rgb(234, 0, 255);
  border-bottom: 2px solid rgb(0, 255, 255);
  border-right: 2px solid rgb(0, 255, 13);
  padding: 30px;
  position: absolute;
}

/* !!! */
.promo-block__img,
.info-block__img {
  border-radius: 50%;
}

.promo-block__img-position-top {
  top: 0;
  right: 0;
}

.promo-block__img-position-middle {
  top: 290px;
  right: 320px;
}

.promo-block__img-position-bottom {
  top: 420px;
  right: 0;
}

/* INFO-BLOCK */

.info-block {
}

.info-block__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-block__img-container {
  margin-right: 5.625rem;
}

.info-block__img {
}

.info-block__text-container {
}

.info-block__title,
.facilities-block__title {
  font-size: 4rem;
  line-height: 5.75rem;
}

/* FACILITIES-BLOCK */

.facilities-block {
  margin: 12.5rem 0;
}

.facilities-block__title {
  text-align: center;
}

.facilities-block__column {
  flex: 0 1 28%;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.column-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  margin: 3.125rem 0;
}

.column__icon-container {
}

.column__icon {
}

.column__title {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.column__text {
  opacity: 0.6;
}

.column__text,
.column__list {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

/* CHOICE-BLOCK */
.choice-block {
  margin-bottom: 12.5rem; /* !!! */
}

.choice-block__column {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  flex: 0 1 20%;
  border-radius: 16px;
  padding: 2.5rem 1.125rem;
  background: rgba(255, 255, 255, 1);
}

.choice-block__column:hover {
  background: rgba(255, 240, 210, 1);
}
.choice-block__column:hover:nth-child(even) {
  background: rgba(209, 221, 251, 1);
}
.choice-block__column p {
  text-align: center;
}

.column__list {
  list-style-type: none;
  margin: 4rem 0;
}

.column__list-item {
  margin-bottom: 10px;
  padding-left: 2rem;
  background-position: 0 0;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
}
.column__list_yellow li {
  background-image: url(../images/list-style-image_yellow.svg);
}
.column__list_blue li {
  background-image: url(../images/list-style-image_blue.svg);
}

.choice-block__column-text {
  flex-grow: 1;
}

.column__button {
  width: 100%;
}
