/* font-family: 'Questrial', sans-serif; */

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  background: rgba(251, 251, 251, 1);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  list-style-type: none;
}

.link {
}

.common-margin {
  margin-left: 120px;
  margin-right: 120px;
}

.remark {
  letter-spacing: 1px;
  display: block;
  width: max-content;
}

.remark::after {
  margin-top: 8px;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
}

.remark_underline-color-1::after {
  background: linear-gradient(
    45deg,
    rgba(255, 178, 30, 1),
    rgba(255, 255, 255, 0)
  );
}

.remark_underline-color-2::after {
  background: linear-gradient(
    45deg,
    rgba(18, 84, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.remark_align-center {
  margin: 0 auto;
}

.remark_align-center-underline_color-1::after {
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255, 0),
    rgba(255, 178, 30, 1),
    rgb(255, 255, 255, 0)
  );
}

.remark_align-center-underline_color-2::after {
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255, 0),
    rgba(18, 84, 255, 1),
    rgb(255, 255, 255, 0)
  );
}

.title {
  font-family: Questrial, sans-serif;
  margin: 16px 0px;
}

.text {
  font-size: 20px;
  line-height: 31px;
  opacity: 0.6;
  margin-bottom: 32px;
}

.button {
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  border-radius: 8px;
  padding: 16px 24px;
  font-size: 20px;
}

.button:hover {
  color: rgba(255, 255, 255, 1);
}

.button svg {
  vertical-align: middle;
}
.button:hover svg {
  fill: #fff;
}

.button_color-1 {
  border: 1px solid rgba(255, 178, 30, 0.5);
  color: rgba(255, 178, 30, 1);
}
.button_color-1:hover {
  background-color: rgba(255, 178, 30, 1);
  box-shadow: 0px 1px 5px 3px rgba(255, 178, 30, 0.5);
}
.button-svg_color-1 {
  fill: rgba(255, 178, 30, 1);
}

.button_color-2 {
  border: 1px solid rgba(18, 84, 255, 0.5);
  color: rgba(18, 84, 255, 1);
}
.button_color-2:hover {
  background-color: rgba(18, 84, 255, 1);
  box-shadow: 0px 1px 5px 3px rgba(18, 84, 255, 0.5);
}
.button-svg_color-2 {
  fill: rgba(18, 84, 255, 1);
}

/* HEADER */

.header {
}

.header__navbar {
  margin-top: 48px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  margin-right: 1.56rem;
  font-family: "Questrial", sans-serif;
  font-size: 48px;
  line-height: 49px;
}

.navbar__line {
  flex-grow: 1;
  display: block;
  content: "";
  height: 0.5px;
  background: rgba(0, 0, 0, 0.2);
}

.navbar__menu {
  display: flex;
  flex-wrap: wrap;
}

.navbar__menu-item {
  margin-right: 1.56rem;
  margin-left: 1.56rem;
}

.navbar__link {
  font-size: 20px;
  line-height: 26px;
}

/* PROMO-BLOCK */

.promo-block {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.promo-block__text-container {
  flex-basis: 64%;
  margin-bottom: 320px;
}

.promo-block__remark {
  font-size: 18px;
  line-height: 26px;
}

.promo-block__title {
  font-size: 56px;
  line-height: 81px;
}

.promo-block__text {
}

.promo-block__button {
  padding: 16px 67px;
}

.promo-block__img-container {
  z-index: -1;
  position: relative;
}

.promo-block__img-border {
}

.promo-block__img {
  border-top: 2px solid rgb(255, 0, 0);
  border-left: 2px solid rgb(234, 0, 255);
  border-bottom: 2px solid rgb(0, 255, 255);
  border-right: 2px solid rgb(0, 255, 13);
  padding: 30px;
  position: absolute;
}

.promo-block__img,
.info-block__img {
  border-radius: 50%;
}
.promo-block__img-position-1 {
  top: 0;
  right: 0;
}

.promo-block__img-position-2 {
  top: 290px;
  right: 320px;
}

.promo-block__img-position-3 {
  top: 420px;
  right: 0;
}

/* INFO-BLOCK */

.info-block {
  margin-top: 130px;
}

.info-block__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 230px;
}

.info-block__img-container {
  margin-right: 90px;
}

.info-block__img {
}

.info-block__text-container {
}

.info-block__remark {
  font-size: 20px;
  line-height: 29px;
}

.info-block__title {
  font-size: 64px;
  line-height: 93px;
}

.info-block__text {
}

.info-block__button {
}

/* FACILITIES-BLOCK */

.facilities-block {
  margin-bottom: 200px;
}

.facilities-block__container {
}

.facilities-block__title {
  font-size: 64px;
  line-height: 99px;
  text-align: center;
}

.facilities-block__columns-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.facilities-block__column {
  flex: 0 1 28%;
}

.column {
  /* !!! */
  margin-bottom: 50px;
  margin-top: 50px;
}

.column__icon-container {
}

.column__icon {
}

.column__title {
  font-size: 24px;
  line-height: 35px;
}

.column__text {
  font-size: 18px;
  line-height: 28px;
  opacity: 0.6;
}

/* CHOICE-BLOCK */
.choice-block {
  margin-bottom: 200px; /* !!!! */
}

.choice-block__columns-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.choice-block__column {
  /*  display: flex; 
  flex-direction: column;
    justify-content: flex-end; */
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  flex: 0 1 20%;
  border-radius: 16px;
  padding: 40px 18px;
  background: rgba(255, 255, 255, 1);
}

/* .choice-block__column-text {
  flex-grow: 1;
} */

.choice-block__column:hover {
  background: rgba(255, 240, 210, 1);
}

.choice-block__column:hover:nth-child(even) {
  background: rgba(209, 221, 251, 1);
}

.choice-block__column p {
  text-align: center;
}

.column__list {
  /*flex-grow: 1;   */
  font-size: 18px;
  line-height: 28px;
  margin: 64px 0;
}

.column__list-item {
  margin-bottom: 10px;
}

.column__button {
  width: 100%;
}
